<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮箱验证码</title>
</head>
<body>
<form action="/sigin" method="post" style="text-align: center">
                {% csrf_token %}
    <p><label>用户名：</label><input type="text" name="name" placeholder="用户名"/></p>
    <p><label>邮箱：</label><input id='email' type="text" name="email" placeholder="邮箱"/><a id="ajax_submit" style="display: inline-block;padding: 4px;background: red;color: yellow">验证码<a/></p>
    <p><label>验证码：</label><input type="text" name="code1" placeholder="输入邮箱内的验证码"/></p>
    <p><input type="submit" name="enter" value="确定注册"/></p>
</form>
</body>
    <style>
        body{
            background-image: url("/static/ui.jpg"); /* 背景图片 */
            background-size: 1366px 720px;
        }
    </style>
<script src="/static/jquery-3.3.1.js"></script>
<script>
    $(function(){
        $('#ajax_submit').click(function (){
            $.ajax({
                url:"/code",
                type:"POST",
                data:{'email':$('#email').val()},
                success:function (data){
                    console.log(data)
                }
            })
        })
    })
</script>
</html>